.u-center-text{
    text-align: center !important;
}
.u-margin-bottom-large{
    margin-bottom: 8rem !important;
    @include respond(tab-p){
        margin-bottom: 5rem !important;
}
}
.u-margin-bottom-medium{
    margin-bottom: 4rem !important;

    @include respond(tab-p){
        margin-bottom: 3rem !important;
}
}
.u-margin-bottom-small{
    margin-bottom: 1.5rem !important;
}
.u-margin-top-large{
    margin-top: 8rem !important;
}
.u-margin-top-mini{
    margin-top: 1rem !important;
}

.u-letter-spacing-small{
    letter-spacing: .3rem !important;
}
.u-letter-spacing-1x{
    letter-spacing: 1px !important;
}

.u-move-top-small{
    position: relative !important;
    top: -2.5rem !important;

}

.u-opacity{
    opacity: 0.6;
}