//Colors
//$color-primary:#55c57a;
//$color-primary-light:#7ed56f;
//$color-primary-dark:#28b485;

$color-primary:#9b23ea;

$color-primary-light:#5f72bd;
$color-primary-dark:#9b23ea;

$color-grey-dark: #777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;

$color-white:#fff;
$color-grey-light-1:#f7f7f7;

$color-grey-light-2: #eee;
$color-black:#000;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-white:#fff;
// Grid Variables

$grid-width:114rem;
$gutter-vertical:8rem; 
$gutter-vertical-small:6rem;    // for bottom margin
$gutter-horizontal:6rem; // space between two coloumns

// Font Size 

$default-font-size:1.6rem;

// Font family

$font-main:"Lato",sans-serif;