.header{
    position: relative;
    height:95vh;
    background-image:linear-gradient(
        to right bottom,
        rgba($color-primary-light,0.8),
        rgba($color-primary-dark ,0.8)
    ) ,url(../img/362014.jpg);
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
    clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        height: 95vh; 
    }


    @media (min-resolution:192dpi) and (min-width:600px){
        background-image:linear-gradient(
            to right bottom,
            rgba($color-secondary-light,0.8),
            rgba($color-secondary-dark ,0.8)
        ) ,url(../img/hero.jpg);
    }

    @media  (min-width:2000px){
        background-image:linear-gradient(
            to right bottom,
            rgba($color-secondary-light,0.8),
            rgba($color-secondary-dark ,0.8)
        ) ,url(../img/hero.jpg);
    }


    @include respond(pn){
        clip-path: polygon(0 0,100% 0,100% 85vh,0 100%);
        
    }

    &__logo-box{
        position: absolute;
        top:4.0rem;
        left:4.0rem;
    }
    &__logo{
        height:3.5rem;
    }
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
}


