.bg-video{
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index:-5;
    opacity: .15;

    &__content{
        height: 100%;
        width:100;
        object-fit: cover; // video will fill the entire section mainting the aspect ratio also 
    }
}