.form{

    &__group{
        margin-bottom: 2rem;
    }

    &__input{
        padding: 1.5rem;
        font-family: inherit; // font-family not inherited in input
        color:inherit; // it also not inherited 
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white,.8);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s;
        @include respond(tab-p){
            width:100%;
        }
        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black,.1);
            border-bottom: 3px solid $color-primary;
          &:invalid{ // psedo class applied until the form is invalid
            border-bottom: 3px solid $color-secondary-dark;
            
          }
        }

        

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }

   

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: -7rem;
        display: inline-block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label { // input:placeholder-shown defines the state when nothing is written in textbox
        color: $color-grey-dark-2;  // + &__label is the sibling selector for selecting label when there in nothing written in placeholder 
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem); // to send it up initially 
    }
    
    &__radio-group {
        width:49%;
        display: inline-block;

        @include respond(tab-p){
            width:100%;
            margin-bottom: 2rem;
        }
    }

    &__radio-label{
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 3.5rem;
        top:0;
    }

    &__radio-button {
            height: 3rem;
            width: 3rem;
            border: 5px solid $color-primary;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            left: 0;
            top:-.4rem;
        &::after{ // it is created to place small circle inside the bigger circle when checked in
            content:"";
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {  // this effect work when radio button is checked in radio-button::after element
            opacity: 1;
    }

    &__radio-input{
        display: none;
    }
}